{
	"x86":{
		"symbols_path": "D:\\projects\\example_app_name\\bin\\release\\x86\;C:\\qt-setup\\5.6.3\\SrcCopy\\qtbase\\lib;srv*C:\\WindowsSymbolServer*https://msdl.microsoft.com/download/symbols",
		"src_path":"D:\\projects\\example_app_name\\projects\\example_app_name\\src"
	},
	"x64":{
		"symbols_path": "D:\\projects\\example_app_name\\bin\\release\\x64\\;C:\\Qt\\Qt5.9.6\\5.9.6\\msvc2013_64\\lib;srv*C:\\WindowsSymbolServer*http://msdl.microsoft.com/download/symbols;D:\\distr\\qt\\5.9.6\\vs2013_64_pdb\\msvc2013_64\\lib",
		"src_path":"D:\\projects\\example_app_name\\projects\\example_app_name\\src"
	}
}